<h3>Blogs count: {{ $ctrl.blogs.length }}</h3>
<span ng-if="$ctrl.blogs.length === 0">No blogs!</span>
<span ng-if="$ctrl.blogs.length > 0">
	Hey! There are {{ $ctrl.blogs.length }} blogs.
</span>
<pagination page="$ctrl.page" blogs="$ctrl.blogs"></pagination>
<ul ng-repeat="blog in $ctrl.blogs | limitTo:$ctrl.blogsPerPage:$ctrl.blogsPerPage*$ctrl.page">
	<li>
        <p>{{ blog.author }}</p>
		<label>
			<span ng-dblclick="$ctrl.activateEditBlog(blog._id)"> {{ blog.title }} </span>
        </label>
        <p>{{ blog.description }}</p>
        <p>{{ blog.date }}</p>
		<button ng-click="$ctrl.removeBlog(blog._id)">Delete Blog</button>
	</li>
</ul>