html, body {
	height: 100%;
}

body {
	background: #84cef0;
	font-size: 18px;
	margin: 50px 300px;
	font-family: monospace;
}

button, input, textarea{
	font-size: 16px;
    border-radius: 10px;
    padding: 6px;
	background: orange;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.homeBtn {
    display: inline-block;
    margin: 20px 0;
    color: white;
    font-size: 24px;
}

.blogForm .blogFormInput {
	display: inline-block;
	width: 100%;
}

.error-msgs {
	list-style: none;
	padding: 0;
	li {
		font-weight: bold;
		color: #bc1a1a;
	}
}

.pagination{
	margin-top: 10px;
	
	.page {
		display: inline-block;
		margin-left: 5px;
	}
}