<h2 ng-if="!$ctrl.changingBlogId">Add Blog</h2>
<h2 ng-if="$ctrl.changingBlogId">Edit Blog</h2>
<form class="blogForm" name="blogForm">
	<div class="blogFormInput">
		<input name="blogTitleInput"
			type="text" 
			placeholder="Title" 
			required 
			add-edit-validation
			ng-model="$ctrl.newBlogTitle" />
	</div>
	<ul class="error-msgs" ng-messages="blogForm.blogTitleInput.$error">
		<li ng-message="maxLengthValidator">Error! Max length is 10 symbols!</li>
		<li ng-if="blogForm.blogTitleInput.$dirty || !$ctrl.submitted" ng-message="required">Error! Blog title is required!</li>
	</ul>
	<div class="blogFormInput">
		<input name="blogAuthorInput"
			type="text" 
			placeholder="Author" 
			required 
			ng-model="$ctrl.newBlogAuthor" />
	</div>
	<ul class="error-msgs" ng-messages="blogForm.blogAuthorInput.$error">
		<li ng-if="blogForm.blogAuthorInput.$dirty || !$ctrl.submitted" ng-message="required">Error! Blog author is required!</li>
	</ul>
	<div class="blogFormInput">
		<textarea name="blogMessageInput"
			type="text" 
			placeholder="Description" 
			required
			ng-model="$ctrl.newBlogDescription" >
		</textarea>
	</div>
	<ul class="error-msgs" ng-messages="blogForm.blogDescriptionInput.$error">
		<li ng-if="blogForm.blogDescriptionInput.$dirty || !$ctrl.submitted" ng-message="required">Error! Blog description is required!</li>
    </ul>
    <div class="blogFormInput">
            <input name="blogDateInput"
                type="text" 
                placeholder="Date" 
                required
                ng-model="$ctrl.newBlogDate" >
            </input>
    </div>
    <ul class="error-msgs" ng-messages="blogForm.blogDateInput.$error">
            <li ng-if="blogForm.blogDateInput.$dirty || !$ctrl.submitted" ng-message="required">Error! Blog date is required!</li>
    </ul>
	<input ng-if="!$ctrl.changingBlogId" type="button" value="Add Blog" ng-click="$ctrl.addBlog()" />
	<input ng-if="$ctrl.changingBlogId" type="button" value="Edit Blog" ng-click="$ctrl.editTodo()" />
</form>
<a class="homeBtn" href="/">Home</a>